@import "tailwindcss";

@theme {
  --color-primary: #2563EB;
  --color-primary-hover: #1D4ED8;
  --color-primary-light: #DBEAFE;

  --color-danger: #DC2626;
  --color-danger-hover: #B91C1C;
  --color-danger-light: #FEE2E2;

  --font-sans: "Inter", sans-serif;
}

@layer base {
  body {
    background-color: #FFFFFF;
    color: #111827;
    font-family: var(--font-sans);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
